<h1>Contacts us</h1>

<%= form_for :contact, url: contacts_path do |f| %>
  <p>
    Email<br />
    <%= f.text_field :email %>
  </p>

  <p>
    Message<br />
    <%= f.text_area :message %>
  </p>

  <p>
    <%= f.submit 'Send message'%>
  </p>

<% end %>